<div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
        <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
        <span class="fs-4">Read a book</span>
      </a>

      <ul class="nav nav-pills">
      {{#if token}}  
        {{!-- {{#if isHome}}
        <li class="nav-item"><a href="/" class="nav-link active" aria-current="page">Home</a></li>
        {{else}}
        <li class="nav-item"><a href="/" class="nav-link" aria-current="page">Home</a></li>
        {{/if}} --}}

        {{#if isAdd}}
        <li class="nav-item"><a href="/add" class="nav-link btn active">Add </a></li>
        {{else}}
        <li class="nav-item"><a href="/add" class="nav-link btn btn-info">Add book</a></li>
        {{/if}}
      </ul>
      <div class="btn-group" role="group" aria-label="Basic mixed styles example">
        <button type="button" class="btn btn-warning">
         {{#if isLogin}}
            <a href="/login" class="text-light text-decoration-none active">  Login</a>
         {{else}}
            <a href="/login" class="text-light text-decoration-none">  Login</a>
         {{/if}}
           
        </button>
        {{else}}
             {{!-- {{#if isHome}}
        <li class="nav-item"><a href="/" class="nav-link active" aria-current="page">Home</a></li>
        {{else}}
        <li class="nav-item"><a href="/" class="nav-link" aria-current="page">Home</a></li>
        {{/if}}
        --}}
        {{/if}}
        
    </div>
    </header>
</div>